/*
** Animation opacity in
*/

@keyframes opacityIn {
	from {
		-webkit-opacity: 0;
				opacity: 0;
	}
	to {
		-webkit-opacity: 1;
				opacity: 1;
	}
}

/* ************************************************************************** */

/*
** Animation slide in
*/

@keyframes slideIn {
	from {
		-webkit-opacity: 0;
				opacity: 0;
		-webkit-transform: translateY(100%);
				transform: translateY(100%);
	}
	to {
		-webkit-opacity: 1;
				opacity: 1;
		-webkit-transform: translateY(0%);
				transform: translateY(0%);
	}
}

/* ************************************************************************** */

/*
** Animation name in
*/

h1 span {
	display: inline-block;
	transform: translateY(100%);
	-webkit-animation: 0.5s ease-in-out 0.0s slideIn forwards;
			animation: 0.5s ease-in-out 0.0s slideIn forwards;
}

h1 strong {
	display: inline-block;
	transform: translateY(100%);
	-webkit-animation: 0.25s ease-in-out 0.25s slideIn forwards;
			animation: 0.25s ease-in-out 0.25s slideIn forwards;
}

/*
** Animation home in
*/

address, main, footer {
	opacity: 0;
	-webkit-animation: 0.5s ease-in-out 0.25s opacityIn forwards;
			animation: 0.5s ease-in-out 0.25s opacityIn forwards;
}

#container {
	opacity: 0;
	-webkit-animation: 0.75s ease-in-out 0.25s opacityIn forwards;
			animation: 0.75s ease-in-out 0.25s opacityIn forwards;
}
