@media all and (max-width: 1024px)
{
    /*
    ** Root responsive
    */

	:root {
		--debug-color: rgba(0, 255, 0, 0.0);
    }

    /*
    ** Header responsive
    */
    
    header {
        margin: 3.25rem 5.25rem 2rem 5.25rem;
    }

    h1 {
        width: 100%;
    }

    address {
        margin-top: 1.25rem;
        width: 100%;
    }

    address span br {
        display: none;
    }

    address span {
        width: 100%;
        margin-bottom: 0.25rem;
    }

    address strong {
        width: 100%;
    }

    address strong a {
        display: inline-block;
        width: 100%;
    }

    /*
    ** Main responsive
    */

    main {
        margin: 0rem 5.25rem 0rem 5.25rem;
    }

    #about {
        margin-left: 0rem;
    }

    #about br {
        display: none;
    }

    /*
    ** Footer responsive
    */

    footer {
        margin: 2rem 5.25rem 5.25rem 5.25rem;
    }

    /*
    ** Assets responsive
    */

    #resume
    {
        width: 100%;
    }

    #resume article {
        margin: 3.875rem 5.25rem 5.25rem 5.25rem;
    }

    #resume article h1 br {
        display: inline;
    }

    #resume article h1 span {
        float: none;
    }

    #resume article ol {
        margin: 0rem 0rem 1.25rem 1.25rem;
    }

    #resume article ul {
        margin: 0rem 0rem 1.25rem 1.25rem;
    }

    #resume article p {
        margin: 0rem 0rem 1.25rem 1.25rem;
    }

    #demoreel iframe {
        margin: 3.5rem 5.25rem 5.25rem 5.25rem;
    }

    #close-button {
        right: 3.25rem;
    }
}

/* ************************************************************************** */

@media all and (max-width: 720px)
{
    /*
    ** Root responsive
    */

	:root {
		--debug-color: rgba(0, 0, 255, 0.0);
    }

    /*
    ** Header responsive
    */

    header {
        margin: 3.25rem 3.25rem 2rem 3.25rem;
    }

    /*
    ** Main responsive
    */

    main {
        margin: 0rem 3.25rem 0rem 3.25rem;
    }

    /*
    ** Footer responsive
    */

    footer {
        margin: 2rem 3.25rem 3.25rem 3.25rem;
    }
    
    footer p {
        width: 100%;
    }

    #translate-button {
        margin-top: 0.25rem;
    }

    /*
    ** Assets responsive
    */

    #resume article {
        margin: 3.875rem 3.25rem 3.25rem 3.25rem;
    }

    #resume article ol {
        margin: 0rem 0rem 1.25rem 0.75rem;
    }

    #resume article ul {
        margin: 0rem 0rem 1.25rem 0.75rem;
    }

    #resume article p {
        margin: 0rem 0rem 1.25rem 0.75rem;
    }

    #demoreel iframe {
        margin: 3.5rem 3.25rem 5.25rem 3.25rem;
    }
}