/*
** Color system
*/

:root {
	--primary-color: #3C3CFF;
	--light-primary-color: #4F4FFF;
	--secondary-color: #D3D3D3;
	--light-secondary-color: #DCDCDC;
	--tertiary-color: #101010;
	--light-tertiary-color: #585858;
	--background-color: #F5F5F5;
	--shadow-color: rgba(16, 16, 16, 0.4);
	--debug-color: rgba(255, 0, 0, 0.1);
}

/* ************************************************************************** */

/*
** Global style
*/

* {
	margin: 0;
	padding: 0;
	z-index: 0;
	font-family: 'Mabry Pro', sans-serif;
	font-style: normal;
	text-decoration: none;
	color: var(--tertiary-color);
	background-color: var(--debug-color);
	transition: all 0.125s ease-out;
}

/* ************************************************************************** */

/*
** Body style
*/

body {
	min-height: 100vh;
	min-width: 100vw;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

/* ************************************************************************** */

/*
** Header style
*/

header {
	margin: 3.25rem 8.5rem 2rem 8.5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

	/* Name Style */

	h1 {
		font-size: 2.074rem;
		font-weight: bold;
		line-height: 2.75rem;
		overflow: hidden;
	}

	h1 span {
		color: var(--primary-color);
	}

	h1 strong {
		font-weight: bold;
		color: var(--primary-color);
	}

	/* Address style */

	address {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 22rem;
	}

	address span, address strong {
		font-size: 1rem;
	}

	address strong a {
		font-weight: bold;
	}

	address strong a:hover {
		color: var(--light-tertiary-color);
	}

/* ************************************************************************** */

/*
** Main style
*/

main {
	margin: 0rem 8.5rem 0rem 8.5rem;
	display: flex;
	flex: auto;
	flex-direction: column;
	justify-content: space-around;
}

	/* About style */

	#about {
		margin-left: 3.25rem;
		max-width: 32.5rem;
		font-size: 1.440rem;
		font-weight: 500;
	}

	#about strong {
		display: inline-block;
		font-weight: 500;
		line-height: 1.5rem;
		text-shadow: 2px 1px var(--background-color),
					-2px 1px var(--background-color);
		border-bottom: 2px solid var(--primary-color);
	}

	/* Buttons style */

	#buttons-en {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		max-width: 15.375rem;
	}

	#buttons-fr {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		max-width: 12.5rem;
	}

	.button {
		margin-top: 1.25rem;
		padding: 0.25rem 0.75rem 0.25rem 0.75rem;
		border-radius: 0.25rem;
		display: inline-block;
		text-align: center;
		box-shadow: 0 4px 16px 0 var(--shadow-color);
		transition: all 0.25s ease-in-out;
		cursor: pointer;
	}

	/* Demoreel button style */

	#demoreel-button-en, #demoreel-button-fr {
		color: var(--background-color);
		background-color: var(--primary-color);
	}

	#demoreel-button-en:hover, #demoreel-button-fr:hover {
		background-color: var(--light-primary-color);
	}

	/* Resume button style */

	#resume-button-en, #resume-button-fr {
		background-color: var(--secondary-color);
	}

	#resume-button-en:hover, #resume-button-fr:hover {
		background-color: var(--light-secondary-color);
	}

/* ************************************************************************** */

/*
** Footer style
*/

footer {
	margin: 2rem 8.5rem 5.25rem 8.5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/* Socials style */

	footer p {
		font-size: 1.000rem;
		font-weight: 400;
	}

	footer p a {
		display: inline-block;
		font-weight: bold;
	}

	footer p a:hover {
		color: var(--light-tertiary-color);
	}

/* Language picker style */

	#translate-button {
		display: flex;	
		align-items: center;
		justify-content: space-between;
		width: 4.5rem;
	}

	#translate-button span {
		margin-top: 0.5rem;
		cursor: pointer;
	}

	#translate-button span img {
		height: 1.2rem;
	}

/* ************************************************************************** */

/*
** Resume style
*/

#resume {
	position: absolute;
	top: 0;
	right: 0;
	width: 42.5rem;
	height: 100vh;
	z-index: 1;
	transform: translateX(100%);
	box-shadow: 0rem 0rem 0rem 0rem var(--shadow-color);
	overflow: auto;
	transition: all 0.25s ease-in-out;
	background-color: var(--background-color);
}

#resume article {
	margin: 3.25rem 8.5rem 5.25rem 3.25rem;
}

h2 {
	margin: 0.75rem 0rem 1.25rem 0rem;
	display: inline-block;
	font-size: 1.440rem;
	font-weight: 500;
	line-height: 1.5rem;
	text-shadow: 2px 2px var(--background-color),
				-2px 2px var(--background-color);
	border-bottom: 2px solid var(--primary-color);
}

	/* Employment and education style */

	#resume ol {
		margin: 0rem 0rem 1.25rem 2rem;
		list-style-type: none;
		line-height: 20px;
	}

	#resume ol li {
		margin-bottom: 0.75rem;
		font-size: 1.25rem;
		font-weight: 400;
		list-style-type: none;
	}

	#resume ol li a {
		font-size: 1.25rem;
		font-weight: bold;
	}

	#resume ol li a:hover strong {
		color: var(--light-tertiary-color);
	}

	#resume ol li span {
		font-size: 1rem;
		font-weight: 400;
	}

	/* Knowledges style */

	#resume ul {
		margin: 0rem 0rem 1.25rem 2rem;
		list-style: none;
	}

	#resume ul li {
		margin-bottom: 0.5rem;
		font-weight: 400;
		list-style-type: none;
	}

	#resume ul li span {
		display: inline-block;
		width : 8.5rem;
		font-size: 1.25rem;
		font-weight: 400;
	}

	/* Clients and agences style */

	#resume p {
		margin: 0rem 0rem 1.25rem 2rem;
		display: block;
		list-style: none;
		font-size: 1.25rem;
		font-weight: 400;
		font-style: normal;
	}

/* ************************************************************************** */

/*
** Demoreel style
*/

#demoreel {
	position: absolute;
	transform: translateY(100%);
	height: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex: auto;
	flex-direction: column;
	justify-content: space-around;
	transition: all 0.25s ease-in-out;
	pointer-events: none;
	z-index: 1;
}

#demoreel iframe {
	margin: 3.5rem 8.5rem 5.25rem 8.25rem;
	pointer-events: initial;
	height: 100vh;
}

/* ************************************************************************** */

/*
** Interaction style
*/

#interactive-area {
	position: absolute;
	height: 0;
	left: 0;
	width: 100vw;
	height: 100vh;	
	opacity: 0;
	background-color: var(--shadow-color);
	pointer-events: none;
	overflow: hidden;
}

#close-button {
	margin-top: 0.25rem;
	position: absolute;
	top: 3.25rem;
	right: 5.25rem;
	width: 2.25rem;
	height: 2.25rem;
	border-radius: 50%;
	text-align: center;
	line-height: 5.25rem;
	font-size: 1.440rem;
	font-weight: 500;
	box-shadow: 0 4px 16px 0 var(--shadow-color);
	z-index: 2;
	cursor: pointer;
	overflow: hidden;
	opacity: 0;
	background-color: var(--secondary-color)
}

/* ************************************************************************** */

/*
** Containe style
*/

#container {
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	background-color: var(--background-color);
}

/* ************************************************************************** */

/*
** French style
*/

.fr {
	display: none;
}
