/*
** Color system
*/

:root {
	--primary-color: #3C3CFF;
	--secondary-color: #0D0D0D;
	--tertiary-color: #7A7A7A;
	--background-color: #F6F6F6;
	--debug-color: rgba(255, 0, 0, 0.0);
	--shadow-color: #B7B7B7;
}

/*
** General style
*/

* {
	margin: 0;
	padding: 0;
	font-family: 'Mabry Pro', sans-serif;
	font-style: normal;
	text-decoration: none;
	color: var(--secondary-color);
	z-index: 0;
}

/*
**
*/

header, main, footer, div, h1, h2, h3, p, span, li {
	background-color: var(--debug-color);
}

/*
**
*/

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

/*
**
*/

header {
	margin: 4.8rem 9.6rem 1.6rem 9.6rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

h1 {
	font-size: 34px;
	font-weight: bold;
	line-height: 40px;
}

h2 {
	font-size: 24px;
	font-weight: bold;
}

/**/ 

address {
	display: flex;
	flex-wrap: wrap;
	font-size: 16px;
	text-align: right;
}

address span:last-child {
	margin-left: 2.4rem;
}

address span a {
	font-weight: 500;
}

/*
**
*/

main {
	margin: 1.6rem 9.6rem 1.6rem 9.6rem;
	display: flex;
	flex: auto;
	flex-direction: column;
	justify-content: space-around;
}

/**/

#about {
	margin-left: 3.6rem;
	font-size: 24px;
	font-weight: 500;
	font-style: italic;
}

#about strong {
	font-weight: bold;
	font-style: italic;
	line-height: 24px;
	text-shadow:
		 2px   2px	var(--background-color),
		 2px  -2px	var(--background-color),
		-2px   2px	var(--background-color),
		-2px  -2px	var(--background-color);
	border-bottom: 3px solid var(--primary-color);
	display: inline-block;
}

/**/

#reel-button
{
	height: 2.4rem;
	margin-top: 2.4rem;
	padding: 0rem 0.8rem 0rem 0.8rem;
	display: inline-block;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	line-height: 34px;
	border-radius: 0.4rem;
	border: 3px solid var(--primary-color);
}

/*
**
*/

#resume
{
	background-color: var(--background-color);
	position: absolute;
	top: 0;
	right: -100vw;
	height: 100vh;
	overflow: auto;
	box-shadow: 0rem 0rem 2.4rem 0rem var(--shadow-color);
	padding: 4.8rem 8.6rem 4.8rem 4.8rem;
}

#resume h2
{
	margin-bottom: 1.6rem;
}

#resume ol
{
	margin-bottom: 2.4rem;
	list-style-type: none;
	font-size: 20px;
	line-height: 20px;
}

#resume ol li
{
	margin: 0rem 0rem 0.8rem 1.6rem;
	list-style-type: none;
	font-weight: 400;
}

#resume ol li strong
{
	font-weight: 500;
}

#resume ol li span
{
	font-size: 16px;
	font-weight: 400;
}

#resume ul
{
	margin-bottom: 2.4rem;
	list-style: none;
	font-size: 16px;
	font-weight: 500;
}

#resume ul li
{
	margin: 0rem 0rem 0.8rem 1.6rem;
	list-style-type: none;
	font-weight: 400;
}

#resume ul li span
{
	display: inline-block;
	width : 9.6rem;
	font-size: 20px;
	font-weight: 500;
}

#resume p
{
	margin: 0rem 0rem 2.4rem 1.6rem;
	list-style: none;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
}

/*
**
*/

#demoreel
{
	position: absolute;
	height: 100vh;
	width: 100vw;
	left: 0;
	top: 0;
	padding: 4.8rem 9.6rem 4.8rem 9.6rem;
	background-color: var(--background-color);
}

#demoreel iframe
{

}

/*
**
*/

footer {
	margin: 1.6rem 9.6rem 4.8rem 9.6rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/**/

footer p {
	margin-top : 0.4rem;
	font-size: 16px;
	font-weight: 400;
}

footer p a {
	font-weight: 500;
}

/**/

#resume-button {
	width: 3.2rem;
	height: 3.2rem;
	border-radius: 50%;
	border: 3px solid var(--primary-color);
	font-size: 24px;
	font-weight: bold;
	line-height: 50px;
	text-align: center;
}

@keyframes opacityIn
{
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#container
{
	width: 100vw;
	height: 100vh;
	position: absolute;
	background-color: var(--background-color);
	z-index: -1;
}
