/*
** Color system
*/

:root {
	--primary-color: #3C3CFF;
	--light-primary-color: #4F4FFF;
	--secondary-color: #D3D3D3;
	--light-secondary-color: #DCDCDC;
	--tertiary-color: #101010;
	--light-tertiary-color: #585858;
	--background-color: #F5F5F5;
	--shadow-color: rgba(0, 0, 0, 0.4);
	--debug-color: rgba(0, 255, 0, 0);
}

/*
** Global style
*/

* {
	margin: 0;
	padding: 0;
	font-family: 'Mabry Pro', sans-serif;
	font-style: normal;
	text-decoration: none;
	color: var(--tertiary-color);
	z-index: 0;
}

/*
** Debug style
*/

header, main, footer, div, h1, h2, h3, p, span, strong, ol, ul, li, a {
	background-color: var(--debug-color);
	transition: all 0.25s ease-out;
}

/*
** Body style
*/

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

/*
** Header style
*/

header {
	margin: 3.25rem 8.5rem 2rem 8.5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

	/* Name Style */

	h1 {
		font-size: 2.074rem;
		font-weight: bold;
		overflow: hidden;
		line-height: 2.75rem;
	}

	h1 span {
		color: var(--primary-color);
	}

	h1 strong {
		font-weight: bold;
		color: var(--primary-color);
	}

	/* Address style */

	address {
		display: flex;
		flex-wrap: wrap;
		font-size: 1.000rem;
		width: 22rem;
		justify-content: space-between;
	}

	address strong a {
		font-weight: bold;
	}

	address strong a:hover {
		color: var(--light-tertiary-color);
	}

/*
** Main style
*/

main {
	margin: 0rem 8.5rem 0rem 8.5rem;
	display: flex;
	flex: auto;
	flex-direction: column;
	justify-content: space-around;
}

/* About style */

#about {
	margin-left: 3.25rem;
	font-size: 1.440rem;
	font-weight: 500;
	max-width: 32.5rem;
}

#about strong {
	font-weight: 500;
	line-height: 1.5rem;
	text-shadow:
		 2px   1px	var(--background-color),
		-2px   1px	var(--background-color);
	border-bottom: 2px solid var(--primary-color);
	display: inline-block;
}

	/* Buttons style */

	#buttons-en {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		max-width: 15.375rem;
	}

	#buttons-fr {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		max-width: 12.5rem;
	}

	.button {
		margin-top: 1.25rem;
		padding: 0.25rem 0.75rem 0.25rem 0.75rem;
		border-radius: 0.25rem;
		display: inline-block;
		text-align: center;
		box-shadow: 0 4px 16px 0 var(--shadow-color);
		transition: all 0.25s ease-in-out;
		cursor: pointer;
	}

	#demoreel-button-en, #demoreel-button-fr {
		color: var(--background-color);
		background-color: var(--primary-color);
	}

	#demoreel-button-en:hover, #demoreel-button-fr:hover {
		background-color: var(--light-primary-color);
	}


	#resume-button-en, #resume-button-fr {
		background-color: var(--secondary-color);
	}

	#resume-button-en:hover, #resume-button-fr:hover {
		background-color: var(--light-secondary-color);
	}


/*
**
*/

/*
** Footer style
*/

footer {
	margin: 2rem 8.5rem 5.25rem 8.5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

footer p {
	font-size: 1.000rem;
	font-weight: 400;
}

footer p a {
	display: inline-block;
	font-weight: bold;
}

footer p a:hover {
	color: var(--light-tertiary-color);
}

/* Language picker style */

	#language-picker {
		width: 4.5rem;
		font-size: 1.44rem;
		font-weight: 500;
		display: flex;	
		align-items: center;
		justify-content: space-between;
	}

	#language-picker img {
		margin-top: 0.125rem; 
		height: 1.2rem;
		box-shadow: 0 4px 16px 0 var(--shadow-color);
		cursor: pointer;
	}

/*
** Container style
*/

#container
{
	width: 100vw;
	height: 100vh;
	position: absolute;
	background-color: var(--background-color);
	z-index: -1;
}

/*
**
*/

/**/

h2 {
	font-size: 1.440rem;
	font-weight: 500;
	line-height: 1.5rem;
	text-shadow: 2px 2px var(--background-color),
				-2px 2px var(--background-color);
	border-bottom: 2px solid var(--primary-color);
	display: inline-block;
}

/*
**
*/

#resume
{
	background-color: var(--background-color);
	position: absolute;
	top: 0;
	right: 0;
	transform: translateX(100%);
	width: 42.5rem;
	height: 100vh;
	overflow: auto;
	box-shadow: 0rem 0rem 0rem 0rem var(--shadow-color);
	transition: all 0.25s ease-in-out;
}

#resume article {
	margin: 3.25rem 8.5rem 5.25rem 3.25rem;
}

#resume h2
{
	margin: 0.75rem 0rem 1.25rem 0rem;
}

#resume ol
{
	list-style-type: none;
	line-height: 20px;
	margin: 0rem 0rem 1.25rem 2rem;
}

#resume ol li
{
	list-style-type: none;
	font-size: 1.25rem;
	font-weight: 400;
	margin-bottom: 0.75rem;
}

#resume ol li a
{
	font-size: 1.25rem;
	font-weight: bold;
}

#resume ol li a strong
{
}

#resume ol li a:hover strong
{
	color: var(--light-tertiary-color);
}

#resume ol li span
{
	font-size: 1rem;
	font-weight: 400;
}

#resume ul
{
	list-style: none;
	margin: 0rem 0rem 1.25rem 2rem;
}

#resume ul li
{
	list-style-type: none;
	font-weight: 400;
	margin-bottom: 0.5rem;
}

#resume ul li span
{
	font-size: 1.25rem;
	display: inline-block;
	width : 8.5rem;
	font-weight: 400;
}

#resume p
{
	display: block;
	list-style: none;
	font-size: 1.25rem;
	font-weight: 400;
	font-style: normal;
	margin: 0rem 0rem 1.25rem 2rem;
}

/*
**
*/

#opacity-filter {
	position: absolute;
	height: 0;
	left: 0;
	width: 100vw;
	height: 100vh;	
	background-color: var(--shadow-color);
	pointer-events: none;
	opacity: 0;
}

#reel
{
	position: absolute;
	transform: translateY(100%);
	height: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex: auto;
	flex-direction: column;
	justify-content: space-around;
	transition: all 0.25s ease-in-out;
	pointer-events: none;
}

#reel iframe {
	height: 100%;
	margin: 3.5rem 8.5rem 5.25rem 8.25rem;
}


.circular-button {
	margin-top: 0.25rem;
	width: 2.25rem;
	height: 2.25rem;
	border-radius: 50%;
	text-align: center;;
	line-height: 5.25rem;
	font-size: 1.440rem;
	font-weight: 500;
	box-shadow: 0 4px 16px 0 var(--shadow-color);
	z-index: 1;
	cursor: pointer;
	position: absolute;
	top: 3.25rem;
	right: 8.25rem;
	overflow: hidden;
}

#close-button
{
	background-color: var(--secondary-color);
	opacity: 0;
}

.fr {
	display: none;
}

.en {
	display: initial;
}